<div class="container-fluid bg-3 text-center">
  <h3>Welcome to our Fleet Management System</h3>
  <div  class="row">
    <div class="col-sm-4">
      <p>Providing you with the most efficent MOT and Vehicle management</p>
    </div>
    <div class="col-sm-4">
      <p>An easy way to store and access all your Vehicle Details</p>
     @* <img src="https://stimg.cardekho.com/images/carexteriorimages/930x620/Lamborghini/Aventador/6721/Lamborghini-Aventador-SVJ/1621849426405/front-left-side-47.jpg?tr=w-270" alt="Image"> *@
    </div>
    <div class="col-sm-4">
      <p>Add, Edit and Delete Records in seconds</p>
      @* <img src="https://carwow-uk-wp-3.imgix.net/Volvo-XC40-white-scaled.jp" alt="Image"> *@
    </div>
    <div class="carousel-inner">
      <img src="https://stimg.cardekho.com/images/carexteriorimages/930x620/Lamborghini/Aventador/6721/Lamborghini-Aventador-SVJ/1621849426405/front-left-side-47.jpg?tr=w-270" alt="Fleet">

    </div>
  </div>
</div>


