@model VehicleSearchViewModel

<!-- search form -->
<form asp-controller="Vehicle" asp-action="Index" class="d-flex flex-row align-items-center">

    <input class="form-control me-2" asp-for="Query" placeholder="Search..">
   
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>